

.yy-th-data tr td:first-child{
  background-color: #78a4d1 !important;
  color:#fff !important;

}
.yy-th-data thead tr:last-child th{
  background-color: #858585 !important;
  color: #ffffff !important;
}
