ul,li,ol{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #999;
  vertical-align: middle;
}
.hand{
  cursor: pointer;
}
.example-error{
  /* top:-10px; */
  left: unset!important;
  right:0!important;
  color:red!important;
  /* padding: 10px!important; */
}
/* .el-loading-spinner .circular{
  display: none;
} */
.el-loading-spinner{
  /* background: url(../img/loading/loading1.gif) no-repeat; */
  /* color: red!important; */
  /* background-size: 48px 48px; */
  /* position: relative;
  left: 50%; */
}
.el-loading-text{
  display: block!important;
  font-size: 16px!important;
  /* color: red!important; */
}
.el-menu-vertical-demo{
  width: 100%!important;
  background: none!important;
  /* background-color: rgba(12, 74, 147,0.8)!important; */
  border: none!important
}
.el-submenu__title{
  /* background-color: rgba(12, 74, 147,0.8)!important; */
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 0!important;
  height: 105px!important;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
.el-submenu__title span{
  width: 100%!important;
  min-height: 20px!important;
  visibility: visible!important;
  text-align: center;
  line-height: 16px!important;
  font-size: 14px!important;

}
.loadingClass{
  font-size: 40px;
}
.el-button--text{
  padding: 0!important;
}
.a-btn{
  font-size: 16px!important;
}
.t-btn{
  font-size: 17px!important;
}
html,body{
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
body{
  padding-right:0 !important;
  overflow: auto!important;
}
::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
    background-color: #54f7fb;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 6px;
    background-color: #ffffff;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #026cc2;
}
#app{
  height: 100%;
}
/* .el-table__body{
    table-layout:auto !important;
} */
.login-item .el-input .el-input__inner{
  background-color: #0a3162!important;
  border: 1px #2975aa solid!important;
  color: #fff!important;
}
.login-item input::-webkit-input-placeholder{
   color:#27d9f3!important;
}
.login-item input::-moz-placeholder{   /* Mozilla Firefox 19+ */
   color:#27d9f3!important;
}
.login-item input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
   color:#27d9f3!important;
}
.login-item input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
   color:#27d9f3!important;
}
.login-item2 .el-radio__label{
  color: #6d90c0!important;

}
.top-row{
  display: flex!important;
  flex-wrap: wrap!important;
}
.ak-table1 thead tr,.ak-table1 thead th{
  background-color: #fff !important;
  color: #333 !important;
}
.ak-t1{
  max-height: 240px;
  overflow: hidden;
}
.ak-t3{
  /* max-height: 240px; */
  overflow: hidden;
}
.ak-t4{
  height: 240px;
}
.ak-t2{
  height: inherit;
  overflow: visible;
}
.ak-table2 thead th{
  background-color: #529edc !important;
}
.el-table thead.is-group th {
  background: #858585!important;
}
table td,thead th{
  height: 40px !important;
  padding: 3px 0 !important;
  text-align: center!important;
}
.o-table3 thead th .cell{
  overflow:hidden!important;
  text-overflow:ellipsis!important;
  white-space:nowrap!important;
  position: relative!important;
}
.o-table3 thead th .cell .caret-wrapper{
  position: absolute;
  right: 0px;
  top:-4px;
  /* height: 100%!important; */

}
.tableCell{
  overflow:hidden!important;
  text-overflow:ellipsis!important;
  white-space:nowrap!important;
  position: relative!important;
}
.tableCell .caret-wrapper{
  position: absolute;
  right: 0px;
  top:-4px;
}
.caozuo tr td:last-child .cell{
  /* display: flex; */
  text-align: right!important;
  justify-content: flex-end!important;
}
.o-th1 th:first-child{
  background-color: #4874a1 !important;

}
.o-th1 tr td:first-child,.o-th2 tr td:first-child{
  background-color: #78a4d1 !important;
  color:#fff !important;

}
.o-th2 thead tr:last-child th{
  background-color: #d0ebfc !important;
  color: #3566a1 !important;
}
.hb-item .el-input__inner{
  background-color:#0f253a!important;
  border: none!important;
  color: #fff!important;
}
.tan-row2 table td,.tan-row2 thead th{
  height: 32px !important;
  padding: 2px 0 !important;
  text-align: center!important;
  border:1px #143652 solid!important;

}
.tan-row2 .el-table--border {
    border: none!important;
}
.tan-row2 .el-table::before,.tan-row2 .el-table--group::after,.tan-row2 .el-table--border::after{
  background: none!important;
}
.tan-row2 th{
    background-color: #156995 !important;
    color: #51ffff!important;
}
.tan-row2 td{
    background-color: #154f75 !important;
    color: #fff!important;
}
.tan-row2 .el-table .cell{
    padding: 0px 4px!important;
  /* border:1px #143652 solid!important; */

}
button{
  /* min-width: 96px; */
  /* padding: 8px 20px  !important; */
}
.table-btn{
  border:  1px #1f67b3 solid!important;
  color: #1f67b3!important;
  background: none!important;
  min-width: 66px!important;

}
.el-button{
  margin: 0!important
}
.el-button--success{
  /* background-color: #b2cb65!important; */
  /* border-color: #b2cb65!important; */
}
.el-button--info {
    /* background-color: #4bcd83!important; */
    /* border-color: #4bcd83!important; */
}
.el-button--danger {
    /* background-color: #fbd1ab!important; */
    /* border-color: #fbd1ab!important; */
}
.o-form-g{
  display:flex;
  flex-wrap: wrap;
}
.o-form-g .el-form-item{
  width: 25%;
}
/* .el-input{
  width:auto!important;
} */
.input-item{
  display: flex;
  margin-bottom: 6px;
  align-items: center;
  /* justify-content: flex-start; */
}
.input-text{
  display: inline-block;
  width: 30%;
  font-size: 14px;
  text-align: right;
  line-height: 32px;
  white-space: nowrap;
}
.input-text2{
  line-height: 32px;
  font-size: 14px;
  width: 10%;
  text-align: right;
}
.input-input{
  width: 70%!important;
}
.input-input2{
  width: 90%;

}
.long-input-text{
  /* width: 83px;
  line-height: 32px; */
}
.width-99{
  width: 99px;
}
.width-105{
  width: 105px;
}

.login-item2 .el-checkbox__input.is-checked .el-checkbox__inner,.login-item2 .el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #409EFF!important;
  border-color: #409EFF!important;
}
.login-item2 .el-checkbox__input.is-checked+.el-checkbox__label{
  color: #409EFF!important;
}
.check-col .el-checkbox{
  color: #fff!important
}
.o-checkbox-g .el-checkbox {
  margin-left: 0!important;
  /* margin-right: 30px!important; */
  width:136px !important;
}
.o-checkbox-g2 .el-checkbox {
  margin-left: 0!important;
  margin-right: 60px!important;
  width:136px !important;
}
.o-date-box1 input{
  width: 30%!important;
}
.el-dialog__header{
  background: #0274f1 !important;

}
.el-dialog__header {
    padding: 10px 20px 10px!important;
}
.el-dialog__title{
  color: #fff!important;
  line-height: 24px;
  font-size: 16px;
}
.el-dialog__headerbtn {
    top: 15px!important;
}
.el-dialog__headerbtn .el-dialog__close {
  color: #fff!important;
}
/* .el-dialog__body {
    padding: 30px 20px 10px 20px!important;
    border-bottom: 1px #eee solid;
} */
.el-dialog__body{
  max-height: 400px!important;
  overflow-y: scroll;
}
.el-dialog__footer{
  text-align: center!important;
  background: #f7f7f7;
}
.cellClass{
  height: 32px;
  white-space:nowrap!important;
  text-overflow:ellipsis;
  overflow: hidden;
}
.f-bold{
  font-weight: bold;
}
.f-14{
  font-size: 14px;
}

.tc-o{
  color: #e89e6f;
}
.tc-b{
  color: #409EFF;
}
.tc-333{
  color: #333333;
}
.tc-666{
  color: #666666;
}
.tc-999{
  color: #999999;
}
.redx{
  color: red;
}
.green{
  color: rgb(75, 195, 160);
}
.mt-5{
  margin-bottom: 5!important;

}
.mb-0{
  margin-bottom: 0!important;
}
.mb-6{
  margin-bottom: 6px!important;
  margin-top: 0!important;
}
.mb-2{
  margin-bottom: 2px!important;
}
.mb-9{
  margin-bottom: 9px!important;
}
.mb-15{
  margin-bottom: 15px !important;
}
.mb-20{
  margin-bottom: 20px !important;
}
.mr-22{
  margin-right: 22px !important;
}
.mr-20{
  margin-right: 20px!important;
}
.mr-30{
  margin-right: 30px!important;
}
.mr-15{
  margin-right: 15px!important;
}
.mr-10{
  margin-right: 10px!important;

}
.mr-5{
  margin-right: 5px !important;
}
.mr-2{
  margin-right: 2px !important;
}
.mt-10{
  margin-top: 10px !important;
}
.pl-20{
  padding-left: 20px !important;

}
.pr-20{
  padding-right: 20px !important;
}
.pb-10{
  padding-bottom: 10px!important;
}
.pb-15{
  padding-bottom: 15px!important;
}
.pb-20{
  padding-bottom: 20px!important;
}
.s0{
  color: #cddc39;
}
.s1{
  color: #e4a50e;
}
.s2{
  color: #3cca04;
}
.s3{
  color: #257e03;
}
.s4{
  color: #0e5fe4;
}
.s5{
  color: #640ee4;
}
.s6{
  color: #380a7f;
}
.s7{
  color: #230356;
}
.bd0{
  border: 1px #d1d1d1 solid;
}
.boder1{
  border-bottom: 1px #dddddd solid;
}
.br{
  border-right: 1px #e0e4e7 solid;
}

.flex-c{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.top,.middle,.down{
  background: #fff;
  padding: 16px;
  line-height: 32px;
  /* width:100%; */
}
.flex-r{
  display: flex;
  justify-content: flex-end!important;
  align-items: center;
}
.middle-top{
  border-top: 3px rgb(75, 195, 160) solid;

}

.middle-tab-item:hover{
  background: #fff!important;
  border-top: 3px #4bc3a0 solid;
}
.middle-checked {
  background: #fff!important;
  border-top: 3px #4bc3a0 solid;
}
.el-pagination{
  text-align: right;
}
.middle-foot{
  display: flex;
  justify-content: space-between;
}
.page-msg{
  display: flex;
  justify-content: flex-start;
  line-height: 32px;
}
.page-msg>div{
  margin-right: 15px;
  color: #767676;
  font-size: 14px;
}
.page-select{
  width: 66px;
}
.down{
  border-top: 3px #1e67b3 solid;
}
.down-btn-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-green{
  color: rgb(75, 195, 160);

  /* margin-bottom: 8px; */
  font-weight: bold;
}
.title-grey{
  color: #1e67b3;
  margin-bottom: 8px;
  font-weight: bold;

}
.title-blue{
  color: #409eff;
}
.el-table{
  margin:0 0 15px 0;
}
.el-select .el-tag {
  background-color: #d2d3d4!important;
}
.el-radio+.el-radio{
  margin-left: 0 !important;
}
.textarea-input textarea{
  width: 554px!important;
  height: 68px!important;
}
.down2 .textarea-input textarea{
  width:inherit!important;
}
.tan-right .el-radio{
  color: #fff!important;
}

.ak-tab {line-height: 32px;}

.ak-tabs {
  display: flex;
}

.ak-tab-item {
  background: #399bfe;
  color: #fff;
  font-size: 14px;
  margin-right: 6px;
  border-radius: 3px 3px 0 0;
  padding: 0 16px;
}
.ak-tab-item:hover{
  background: #7bbaf9;
}
.ak-checked{
  background: #fff;
  color: #399bfe;
  border: 1px #399bfe solid;
  border-bottom: 1px #fff solid;
  margin-bottom: -1px;
}

.ak-tab-pane {
  border: 1px #dddddd solid;
  padding: 12px;
  border-radius: 0 3px 3px 3px;
}
.detail-msg-row,.detail-msg-row a{
  color: #666;
  line-height: 32px;
}
.detail-msg-row span{
  color: #666;
  /* font-weight: bold; */
  display: inline-block;
  /* margin-right: 5px; */
  /* width: 91px; */
}

.o-step{
  width: 246px;
  display: flex;
  justify-content: space-between;
}

/*步骤描述*/
.o-step li{
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #58aa56;
  font-weight: bold;
}
.o-step li span{
  display: block;
  width: 20px;
  height: 20px;
  background: #58aa56;
  border-radius: 50%;
  margin-bottom: 8px;
  color: #fff;

}
.o-step-err{
  color: #e92114!important;
}
.o-step-err span{
  background: #e92114!important;
}
/*步骤数字*/
/* .o-step li:before {
  display: block;
  content: counter(step);
  counter-increment: step;
  width: 20px;
  height: 20px;
  background-color: #58aa56;
  line-height: 20px;
  border-radius: 20px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin: 0 auto 8px auto;
} */

/*连接线*/
/* .o-step li ~ li:after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #58aa56;
  position: absolute;
  left: -50%;
  top: 9px;
} */

.o-jiao{
  display: block;
  position: absolute;
  width:0;
  height:0;
  border-width:10px 10px 10px 0;
  border-style:solid;
  border-color:transparent rgba(14, 32, 62, 0.88) transparent transparent;;
  top:50%;
  left: -10px;
  margin-top: -10px;

}
.td2-pop{
  background: rgba(14, 32, 62, 0.88);
  color: #fff;
  border: 1px solid #0288d1;
  box-shadow: 0 0 6px #0288d1;
}
.err__ input.input {
   border: 1px solid red;
 }
 .succ__ input.input {
   border: 1px solid green;
 }
 .my-form-group{
   position: relative;
 }
 .err__msg {
   color: red;
   display: block;
   font-size: 12px;
   line-height: 24px;
   position: absolute;
   background: #fff;
   padding: 0px 5px;
   box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0 6px rgba(0,0,0,.04);
   border-radius: 4px;
   top:-5px;
   right:0;
 }
