.table-select{
  width: 100%!important;
}
.acolor{
  color: #1f67b3!important;
}
.color-font{
  color:#3EA5EC;
}
.el-transfer-panel{
  width: 45%!important;
  max-height: 140px!important;
}
.el-transfer-panel .el-transfer-panel__header{
  display:none;
}
.homePage{
  margin-top: 10px!important;
  margin-bottom: 5px!important;
}
.el-transfer__buttons{
  width: 2%;
  padding: 0 2% 0 2%;
}
.el-transfer__button{
  width: 25px;
  height: 25px;
  position: relative;
}
.el-transfer__button:first-child{
  margin-bottom: 10px!important;
}
.el-transfer__button i, .el-transfer__button span{
   font-size: 14px;
    position: absolute;
    top: 2px;
    left: 2px;
    color: #fff;
}
.el-input.is-disabled .el-input__inner{
  color:#747b88!important;
}
.el-textarea.is-disabled .el-textarea__inner{
  color:#747b88!important;
}
.el-transfer__button.is-disabled, .el-transfer__button.is-disabled:hover{
  background-color: #C5C5C5;
}
.transfer-middle{
  padding: 0px 16px 16px 32px;
}
.hb-item .el-input__inner{
  background-color:#0f253a!important;
  border: none!important;
}
.pd-0{
  padding-bottom: 0px!important;
}
.pt-0{
  padding-top: 0px!important;
}
.ml-10{
  margin-left: 10px!important;
}
.mb-5{
  margin-bottom: 5px!important;
}
.mt-10{
  margin-top: 10px!important;
}
/* 时间控件起止时间 */
.t-date .el-input__icon{
    width: 9px!important;
  }
.t-date .el-input--small .el-input__inner{
    height: 32px;
    line-height: 32px;
    font-size: 12px;
  }
.t-date .el-input--prefix .el-input__inner{
    padding-left: 21px!important;
  }
.t-date .el-input--suffix .el-input__inner{
    padding-right: 0px!important;
  }
.t-date .el-date-editor.el-input, .el-date-editor.el-input__inner{
    width: 47%!important;
  }
  .septum{
    display: inline-block;
    width: 4%;
    text-align: center;
  }
  .t-flex{
    display: flex;
    justify-content: space-between;
  }

  /* 模糊查询 */
 .t-fuzzy .el-input{
   width: 59%!important;
 }

 .el-dialog__wrapper{
   overflow: visible!important;
 }
 .el-dialog__body{
   max-height: 600px;
   overflow-y: scroll;
 }
 .t-el-content{
   display: flex;
 }
 .t-el-text{
   white-space: nowrap;
 }
 .t-el-sub{
   width: 56%;
   word-wrap: break-word;
   flex-wrap: wrap;
 }
 body .el-table th.gutter{
    display: table-cell!important;
}
.t-must{
  color: red;
  padding: 2px;
}
.detailInp{
  width: 80%!important;
  border: 1px solid #eeeeee;
  background: #F5F7FA;
  border-radius: 3px;
  padding-left: 10px;
  color: #999999;
}
.tt-input{
  display: inline-block;
  width: 12.5%!important;
  font-size: 14px;
  text-align: right;
  line-height: 32px;
  white-space: nowrap;
}
.review-span{
  display: inline-block;
  line-height: 32px;
}
.mt-15{
  margin-top: 15px!important;
}
.tubiao{
  width:100px;
  padding:6px 15px;
  border:1px solid #56A8FE;
  font-size: 12px;
}
.borderL{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.borderR{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.t-detail {
  line-height: 20px;
  margin-top: 10px!important;
}
.hrtitle {
  height: 35px;
  line-height: 35px;
  border: none;
  color: #3F96F2;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #3F96F2;
}
.t-hrtitle{
  height: 35px;
  line-height: 35px;
  color: #3F96F2;
  font-size: 16px;
  font-weight: bold;
}
.hrtitle-child{
  height: 35px;
  line-height: 35px;
  border: none;
  color: #3F96F2;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #3F96F2;
}
.hrt {
  height: 35px;
  line-height: 35px;
  border: none;
  color: #3F96F2;
  font-size: 16px;
  font-weight: bold;
  border-top: 1px solid #3F96F2;
}
.el-select__tags-text{
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 145px;
  overflow: hidden;
}
.el-select .el-tag__close.el-icon-close{
  top: -6px!important;
}
.ak-tab-pane {
  border: 1px #399bfe solid;
  padding: 20px;
  border-radius: 0 5px 5px 5px;
}
/* 保存按钮 */
.t-save{
  display: flex;
  justify-content: flex-end!important;
  width:100%;
}
.t-save button{
  font-size: 14px;
  height: 27px;
  width: 80px;
  border: none;
  border-radius: 5px;
  background-color: #16A4FD;
  color: #fff;
  margin-top: 2px;
}

.middle-btn-g {
  display: flex;
  justify-content: center;
}

.planDelete{
  float: right;
  margin-left:20px;
  margin-top: 9px;
}
.planItem{
  float: left;
}
.middle-btn-g button {
  height: 32px;
  width: 107px;
  border: none;
  border-radius: 5px;
  background: none;
  /* background: linear-gradient( 360deg, rgb(58, 190, 243) 0%, rgb(34, 149, 251) 100%); */
  background-color: #009cff;
  color: #fff;
}
.pitchOn{
  /* background: linear-gradient( 360deg, rgb(8, 108, 148) 1%, rgb(0, 121, 228) 100%)!important; */
  background-color: #0c4a93!important;
}
/* 批量查询 */
.akUl {
  overflow-y: auto;
  overflow-x: scroll;
}
.akcheck2top {
  background: #f6f7fb;
  padding: 6px;
}

/* 自定义查询 */
.queryLeft{
  height: 107px;
  overflow-y: auto;
  border-right: 1px solid #ccc;
}
.queryRight{
  height:107px;
}
.expression-text{
  width: 15%!important;
}
.mt-20{
  margin-top: 20px;
}
.relative{
  position: relative;
}
.dingwei{
  position: absolute;
  left: 0px;
  height: 32px;
  display: flex;
}
.tipDetail{
  width:100%;
  overflow-wrap: break-word;
  flex-wrap: wrap;
}
.detailFat{
  line-height: 20px;
}
.cellColor{
  color:#009CFF;
  font-size: 16px;
}
.maxWidth{
  max-width:400px;
}
.local{
  font-size:14px;
}
.local .el-loading-text{
  font-size:14px!important;
}
.local .el-loading-spinner{
  top: 56%!important;
  left: 100%!important;
}
