.table-select{
  width: 85%!important;
}
.color-font{
  color:#3EA5EC;
}
.el-transfer-panel{
  width: 45%!important;
  max-height: 140px!important;
}
.el-transfer-panel .el-transfer-panel__header{
  display:none;
}
.el-transfer__buttons{
  width: 2%;
  padding: 0 2% 0 2%;
}
.el-transfer__button{
  width: 25px;
  height: 25px;
  position: relative;
}
.el-transfer__button:first-child{
  margin-bottom: 10px!important;
}
.el-transfer__button i, .el-transfer__button span{
   font-size: 14px;
    position: absolute;
    top: 2px;
    left: 2px;
    color: #fff;
}
.el-transfer__button.is-disabled, .el-transfer__button.is-disabled:hover{
  background-color: #C5C5C5;
}
.transfer-middle{
  padding: 0px 16px 16px 32px;
}
.pd-0{
  padding-bottom: 0px!important;
}
.pt-0{
  padding-top: 0px!important;
}
